basic_con/
build-multichat*
Debug
x64
.vs
multichat.pro.user
node_modules
multichat.zip
项目图.vsdx

multichat/bin/
multichat/.qmake.stash
multichat/Makefile.*
multichat/object_script.multichat.*

VerifyServer/config.json